<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css" media="screen">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.min.js"
        integrity="sha512-L0Shl7nXXzIlBSUUPpxrokqq4ojqgZFQczTYlGjzONGTDAcLremjwaWv5A+EDLnxhQzY5xUZPWLOLqYRkY0Cbw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <title>Painel Administrado</title>
</head>

<body>
    <nav class="menu">
        <img src="img/logo.webp" alt="Logo da empresa" class="logo" loading="lazy" height="250" width="250">
        <button class="menu-toggle" onclick="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </button>
        <ul>
            <li><a href="./index.html" title="Inicio do site" style="color: #FF6E4B;">Home</a></li>
            <li><a href="./cadastrarFidelidade.html" title="Adquirir Pacote de fidelidade">Cadastrar Fidelidade</a></li>
            <li><a href="./agendarHorario.html" title="Agendamento de Horario">Agendar Horário</a></li>
        </ul>
    </nav>
    <main>
        <section class="container-card">
            <div class="card">
                <h1>Entradas</h1>
                <p>10 Clientes</p>
                <p id="entrada">R$ 100,00</p>
            </div>
            <div class="card">
                <h1>Saida</h1>
                <p>5 Clientes</p>
                <p id="saida">R$ 50,00</p>
            </div>
            <div class="card">
                <h1>Total</h1>
                <p>5 Clientes</p>
                <p id="total">R$ 50,00</p>
            </div>
        </section>

        <section id="tabela">
            <div>
                <canvas id="grafico"></canvas>
            </div>
        </section>

        <section>
            <input type="text" id="filtro" placeholder="Filtrar por nome..." onkeyup="filtrarRegistros()">
            <table id="tabelaRegistros">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Telefone</th>
                        <th>Data de Nascimento</th>
                        <th>Data de Aquisição</th>
                        <th>Data de Renovação</th>
                    </tr>
                </thead>
                <tbody id="tabelaCorpo">
                </tbody>
            </table>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="footer-coluna">
                <h6>Menu</h6>
                <ul>
                    <li>
                        <a href="./index.html">Home</a>
                    </li>
                    <li>
                        <a href="./cadastrarFidelidade.html">Cadastrar Fidelidade</a>
                    </li>
                    <li>
                        <a href="./agendarHorario.html">Agendar Horário</a>
                    </li>
                    <li>
                        <a href="http://">menu</a>
                    </li>
                    <li>
                        <a href="http://">menu</a>
                    </li>
                </ul>
            </div>
            <div class="footer-coluna">
                <h6>Contato</h6>
                <p>Telefone</p>
                <p>E-mail</p>
                <p>WhatsApp</p>
            </div>
            <div class="footer-coluna">
                <h6>Sobre</h6>
                <p>Nosso sistema de gestão para cabeleireiros é uma solução completa e intuitiva projetada para
                    facilitar o gerenciamento do seu salão de beleza.
                </p>
            </div>
        </div>
        <hr>
        <div class="footer-rodape">
            <div class="redes-sociais">
                <a href="http://">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="http://">
                    <i class="fa fa-facebook-square" aria-hidden="true"></i>
                </a>
                <a href="http://">
                    <i class="fa fa-youtube-play" aria-hidden="true"></i>
                </a>
            </div>
            <div class="copy">
                <p>&copy; 2024 Barbearia</p>
            </div>
        </div>
    </footer>
    <script src="../js/chart.js" defer></script>
    <script src="../js/filtroRegistros.js" defer></script>
    <script src="../js/carregarFidelidade.js" defer></script>
    <script src="../js/menuMobile.js" defer></script>
</body>

</html>
